@page "/admin/roles"
@model Unaiit.Admin.Role.IndexModel
@{
    ViewData["Title"] = "Roles";
}

<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage" />

<div class="mb-2">
<a class="btn btn-secondary" asp-page="./Create">Tao role</a>
<a class="btn btn-secondary" href="/admin/users">Thanh vien</a>
</div>

<table class="table">
    <tr>
        <th>Ten Role</th>
        <th>Tac vu</th>
    </tr>
    @foreach (var role in Model.roles)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <a class="btn btn-success" asp-page="./Edit" asp-route-roleid="@role.Id">Cap nhap</a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-roleid="@role.Id">Xoa</a>
            </td>
        </tr>
    }
</table>
