@page
@model Training_Unaiit.Areas_Grade_Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GradeTable</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GradeTable.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GradeTable.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GradeTable.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GradeTable.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GradeTable.Founded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GradeTable.Founded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GradeTable.Creator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GradeTable.Creator)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="GradeTable.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
