@page "/grade/index"
@model Training_Unaiit.Areas_Grade_Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GradeTable[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeTable[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeTable[0].Founded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeTable[0].Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeTable[0].FacultyId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GradeTable) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Founded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator)
            </td>
            <td>
                @{
                    var faculty = Model.FacultyTable.FirstOrDefault(f => f.Id == item.FacultyId);
                    if (faculty != null) {
                        @Html.DisplayFor(modelItem => faculty.Name);
                    }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
